<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings file="config.user">
        <add key="connectionStringHost" value="local.adzerk.net"/>
        <add key="authDbPath" value="c:/mdb/NoRMAuth/"/>
		<add key="authDbPort" value="27701"/>
    </appSettings>
    <connectionStrings>
        <add name="NormTests" connectionString="mongodb://local.adzerk.net/NormTests?strict=true"/>
    </connectionStrings>
</configuration>